# OS / IDE
.DS_Store
.idea/
.vscode/
*.iml

# Python cache
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Logs
*.log

# Local datasets
datasets/**/images/
datasets/**/labels/
*.cache

# Local model weights
models/*.pt

# Generated outputs
outputs/
runs/
shot/
